.calendar-container{
    background-color: white;
    margin:0 auto;
    max-width: 1800px;
    width: 85%;
    margin-left: calc(5% + 50px);
}
.calendar-title{
    text-align: center;
    padding-right: 57px;
}

.rbc-timeslot-group {
    min-height: 80px;
}

.rbc-btn-group{
    margin-right: 24px;
    margin-left: 50px;
}